__pycache__/
*.py[cod]
*.so

.Python
.venv/
venv/
ENV/
env/
cnn_env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
*.cif
*.h5
*.txt
protein_model_final*.h5
training_history.csv
training_history_overfit.csv
logs/

data/preprocessed
data/raw/pdb/
data/temp_pdb/
data/tensors/
data/preprocessed/final_dataset.csv

test/output/
